//Grid Variables

$row-margin-vertical: 0px;
$row-margin-horizontal: 0px;

$col-margin-vertical: 1rem;
$col-margin-horizontal: 0px;

$col-gutter: 1.5rem;

//Colors

$color-primary: #9d9d9d;
$color-secondary: #000;

$color-tertiary:#660000;
$color-quaternary: #CEB888; 


$color-garnet: #660000;
$color-gold: #CEB888;
$color-blue-dark: #0000FF;
$color-purple-dark: #3333FF;

$color-grey-dark: #777;
$color-grey-dark-2: #999; 
$color-grey-dark-3: #333;

$color-white: #FFF;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$font-multiplier: 1;

@function fm($size, $multiplier) {
    @return $size * $multiplier * 1rem;
}

@mixin fs($size-val, $weight:400, $lh-mult: 1 ,$multiplier: 1, $type: 1rem) {
    font-size: $size-val * $multiplier * $type;
    line-height: $size-val * $multiplier * $lh-mult * $type;
    font-weight: $weight;  
} 

@mixin is($size-val, $multiplier: 1, $type: 1rem) {
    height: $size-val * $multiplier * $type;
}

@mixin circle($distance, $thick, $mylist) {
    content: "";
    border:($thick* 1rem) solid transparent;
    border-radius: 50%;
    position: absolute;
    top: ($distance * -1rem);
    left: ($distance * -1rem);
    right: ($distance * -1rem);
    bottom: ($distance * -1rem);

        @each $item in $mylist {
            border-#{$item}-color: whitesmoke;
        }

}

