

/*
.hero {
    display:grid;
    grid-template-columns: minmax(70%, max-content);
    grid-template-rows: minmax(60%, max-content) 15%;

    grid-auto-rows: auto;

    grid-row-gap: 2rem;
    grid-column-gap: 2rem;

    justify-content: center;
    align-content: center;


    align-items: stretch;
    justify-items: stretch;

    &__top {
        grid-row: 1/2;
        grid-column: 1/1;

        display: flex;
        flex-flow: row wrap;

        justify-content: space-evenly;
        align-items: center;

        align-content: stretch;

        //border: 15px solid white;


    }


    &__box {
        //grid-row: 2/3;
        //grid-column: 2/3;

        //align-self: center;
        //justify-self: center;
        
        flex-basis: 50%;
        min-width: 450px;

        display: flex;
        justify-content: space-around;

        &__circle {
            
        }
    }

    &__text {
        //grid-row: 2/3;
        //grid-column: 3/4;
        flex-basis: 50%;
    }

    &__content {
        grid-row:2/3;
        grid-column: 1/2;

        justify-self: center;
        align-self: center;
    }

}

[class^="item"] {
    padding: 10px;
    //background-color: orangered;
}
*/