.btn {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      //padding: 1.2vw 3.5vw;
      border-radius: 10rem;
      display: inline-block;
      transition: all .2s;
      position: relative;

      //font-size: 1.4vw;  
      //margin-top: 3vw;
      padding: .8em 1.6em;;
      font-size: .8em;
      margin: 0px auto;
  
      //change for the <button> element
      border: none;
      cursor: pointer;
  
      color: $color-white;
      /*
      @include ResponsiveMobileFirst(big-desktop) {
        padding: 1vw 2.5vw;
        font-size: 1vw;
        margin-top: 3vw;
      }
      */
    }
  
    &:hover {
      transform:  translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
  
    }
  
    &:active,
    &:focus {
      outline: none;
      transform: translateY(.1rem);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
  
    &--white {
      background-color: $color-white;
      color: $color-grey-dark;
      
      &::after {
        background-color: $color-white;
      }
  
    }
  
    &--green {
      background-color: $color-primary;
      color: $color-white;
      
      &::after {
        background-color: $color-primary;
      }
  
    }

    
    &--blue {
      background-color: #33a4c9;
      color: $color-white;

      &::after {
        background-color: #33a4c9;
      }
    }

    &--black {
      background-color: #292c33;
      color: $color-white;

      &::after {
        background-color:#292c33;
      }
    }
    
  
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }
  
  
    &--animated {
      animation-name: moveInButton;
      animation-duration: 1s;
      animation-timing-function: ease-out; 
      animation-delay: .75s;
  
      animation-fill-mode: backwards;
    }
  
  }