.resume {
    grid-row:  row-start-2 / row-end-2;
    grid-column: inner-page-start / inner-page-end;
    background-color: $color-white;

    justify-self: center;

    display: grid;
    /*
    grid-template-rows: .5rem  [section1-row-start section2-row-start] minmax(min-content, max-content) [section2-row-end section3-row-start] minmax(min-content, max-content) [section1-row-end section3-row-end] .5rem;
    grid-template-columns: [section1-col-start] minmax(min-content, 35%) [section1-col-end section2-col-start section3-col-start] minmax(min-content, 65%) [section2-col-end section3-col-end];
    */
    grid-template-rows: .5rem [section1-row-start] minmax(min-content, max-content) [section1-row-end section2-row-start] minmax(min-content, max-content) [section2-row-end section3-row-start] minmax(min-content, max-content) [section3-row-end] .5rem;
    grid-template-columns: [section1-col-start section2-col-start section3-col-start] minmax(min-content, 420px) [section1-col-end section2-col-end section3-col-end];
    //grid-template-columns: minmax(35%, 300px) minmax(65%, 1fr);

    //height: 100vh;
    //height: calc(100vh - 4rem);
    grid-gap: 2rem;

    //align-content: center;
}

#home-icon {
  font-size: 3rem;
}
.section {

    &-1 {

        grid-row:  section1-row-start / section1-row-end;
        grid-column: section1-col-start / section1-col-end; 
        //justify-content: space-around;
        justify-self: center;

        background-color: $color-white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        //max-width: 350px;


        display: grid;
        //grid-template-columns: minmax(min-content, 350px);
        grid-template-rows: min-content repeat(3, minmax(min-content, 1fr)) ; 

        justify-content: center;
        /*
        & > * {
          margin: 0px 0px auto 0px;
        }
        */

    }

    &-2 {
        grid-row: section2-row-start / section2-row-end;
        grid-column: section2-col-start / section2-col-end;

        padding-top: 2rem;

        background-color: $color-white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    &-3 {
        grid-row: section3-row-start / section3-row-end;
        grid-column: section3-col-start / section3-col-end;

        padding-top: 2rem;

        background-color: $color-white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }


      //Section 1 -- Start 
    &__box {

      width: 100%;
  
      &__image {
            width: 100%;
		    height: 100%;
		    object-fit: cover;
            display: block;
      }
    }


    &__heading {
        &--1 {
            font-size: 3rem;
            text-align: center;
            color: $color-quaternary;
            line-height: 6rem;
        }

        &--2 {
            font-size: 2rem;
            color: $color-tertiary;
            line-height: 4rem;
        }

        &--3 {
            font-size: 1.8rem;
            color: $color-quaternary;
            line-height: 3.5rem;
        }

        &--4 {
          font-size: 1.5rem;
          color: $color-tertiary;
      }
    }
    
    &__icon {

        &--1 {
            font-size: 3.5rem;
            color: $color-tertiary;
        }

        &--2 {
            font-size: 2.5rem;
            padding: 0px 1rem 0px 0px;
            color: $color-tertiary;
        }

        &--3 {
            font-size: 2rem;
            padding: 0px 1rem;
            color: $color-tertiary;
            text-align: center;
      }
    }

    &__text {
        font-size: 1.5rem; 
        font-weight: 400;

        &--2 {
            font-size: 1.2rem; 
            font-weight: 400;
            color: $color-white;
            padding-left: 1rem;
            line-height: 2rem;
        }

        &--3 {
            font-size: 2rem; 
            font-weight: 400;
        }

        &--4 {
            font-size: 1.4rem; 
            font-weight: 400;
        }
    }

    &__line {
        margin-top: .5rem;
        border-top: 0px;
        border-color: $color-tertiary;
    }

    &__sub {

        width: 90%;
        justify-content: center;
        padding: .5rem;
        flex-basis: auto;
        flex-shrink: 1;

        &--info {
            align-self: center;
            justify-self: center;
        }

        &--lang {
            width: 85%;
            align-self: center;
            justify-self: center;
        }

        &--tools {
            width: 85%;
            align-self: center;
            justify-self: center;
        }
    }
}