.header {
  height: 100vh;
  width: 100%;

  // background-image: url("../assets/images/coverPhoto_Large.jpg");
  // background-image: url("../assets/images/Hero-2.jpg");
  background-color: rgba(0, 0, 0, 1);

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: $f_Roboto;
  position: relative;
  z-index: 0;

  & .testing-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 1;
    z-index: -1;
    opacity: 0.35;

    .bg-video {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__nav {
    height: 10%;
    width: 100%;
    //border-bottom: 3px solid white;
    color: white;
    font-family: inherit;
    padding: 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &--item {
      box-sizing: border-box;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      margin: 0px;
      padding: 0px;

      @include ResponsiveDesktopFirst(phone) {
        font-size: 1.8rem;
      }

      &:hover {
        border-bottom: 2px solid white;
        cursor: pointer;
      }
    }
  }

  &__body {
    height: 70%;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    @include ResponsiveDesktopFirst(phone) {
    }

    &--item {
      font-size: 7rem;

      &#typingAnimation {
        text-align: center;
      }

      @include ResponsiveDesktopFirst(tab-land) {
        font-size: 4.5rem;
      }

      @include ResponsiveDesktopFirst(tab-port) {
        font-size: 3.8rem;
      }

      @include ResponsiveDesktopFirst(phone) {
        font-size: 2.2rem;
        font-weight: 400;
      }
    }
  }

  &__bottom {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    //border-bottom: 4px solid #e1e1e1;

    .chevron_container {
      position: relative;
      width: 28px;
      height: 100px;
      opacity: 0;
      cursor: pointer;
    }

    .chevron {
      position: absolute;
      width: 28px;
      height: 8px;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      animation: move 3s ease-out infinite;
    }

    .chevron:first-child {
      animation: move 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
      animation: move 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background: #fff;
    }

    .chevron:before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    .chevron:after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }

    @keyframes move {
      25% {
        opacity: 1;
      }
      33% {
        opacity: 1;
        transform: translateY(30px);
      }
      67% {
        opacity: 1;
        transform: translateY(40px);
      }
      100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
      }
    }

    .text {
      display: block;
      margin-top: 75px;
      margin-left: -30px;
      font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      white-space: nowrap;
      opacity: 0.25;
      animation: pulse 2s linear alternate infinite;
    }

    @keyframes pulse {
      to {
        opacity: 1;
      }
    }
  }
}
