
.footer {
    background: #292c33;
 
    height: 12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 

    &__section {
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 1;
        height: auto;
        padding: 1.5rem 0px 1rem 0px;
        display: flex;
        justify-content: center; 

        &--link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-weight: 400;
            text-align: center;
            width: 100%; 

            &:link {
                text-decoration: none;
                color: transparent; 
            }
            &:visited {
                text-decoration: none;
                color: transparent; 
            }
            &:hover {
                text-decoration: none;
                color: transparent; 
            }
            &:active {
                text-decoration: none;
                color: transparent; 
            }
        }

        &--text {
            display: inline-block;
            color: #FFF;
            font-size: 1.5rem;
            opacity: 1;
        }

        &--icon {
            fill: #FFF;
            height: 5rem;
            width: 100%;
            flex-grow: 0; 
        }
    }

    &__bottom {
        flex-basis: 100%;

        background: #1d1e25;
        padding: 1em;
    
        &--text {
            color: #909db7;
            text-align: center;
            font-size: .8em;
        }
    }
}
   