.nav {
  position: fixed;
  top: 0px;

  height: 10%;
  width: 100%;
  font-family: inherit;
  padding: 0px;

  opacity: 0;
  z-index: -1;
  display: none;
  color: white;

  @include ResponsiveMobileFirst(tab-port) {
    z-index: 10;
  }

  &__inner {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #1d1e25;

    font-family: "Roboto Mono", monospace;

    &--item {
      box-sizing: border-box;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      margin: 0px;
      padding: 0px;

      &:hover {
        border-bottom: 2px solid white;
        cursor: pointer;
      }
    }
  }
}

.cn-button {
  position: fixed;
  top: 85%;
  left: 85%;
  z-index: 11;
  margin-top: -2.25em;
  margin-left: -2.25em;
  padding-top: 0em;
  padding-left: 0;
  padding-right: 0;
  width: 4.5em;
  height: 4.5em;
  border: none;
  border-radius: 50%;
  background: none;
  background-color: rgba(54, 59, 61, 0.7);

  color: rgba(255, 255, 255, 1) !important;
  text-align: center;
  font-weight: 700;
  font-size: 0.85em;
  text-transform: uppercase;
  cursor: pointer;
  backface-visibility: hidden;

  // transition: all 0.2s;

  // animation-name: moveInButton;
  // animation-duration: 1s;
  // animation-timing-function: ease-out;
  // animation-delay: 0.75s;

  // animation-fill-mode: backwards;

  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @include ResponsiveMobileFirst(tab) {
    font-size: 1.2em;
  }

  @include ResponsiveMobileFirst(tab-port) {
    visibility: hidden;
    z-index: -1;
  }
}

.cn-wrapper {
  position: fixed;
  top: 85%;
  left: 85%;
  z-index: 10;
  margin-top: -13em;
  margin-left: -13.5em;
  width: 27em;
  height: 27em;
  border-radius: 50%;
  background: transparent;
  font-size: 0.7em;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.3s;
  -moz-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @include ResponsiveMobileFirst(tab) {
    font-size: 0.75em;
  }

  @include ResponsiveMobileFirst(tab-port) {
    display: none;
    z-index: -1;
  }
}

/*cover to prevent extra space of anchors from being clickable*/
.cn-wrapper:after {
  content: ".";
  display: block;
  font-size: 2em;
  width: 6.2em;
  height: 6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top: 50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index: 10;
  color: transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  //box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.opened-nav {
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  pointer-events: auto;
}

.cn-wrapper li {
  position: fixed;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  width: 10em;
  height: 10em;
  font-size: 1.5em;
  -webkit-transform: rotate(76deg) skew(60deg);
  -moz-transform: rotate(76deg) skew(60deg);
  -ms-transform: rotate(76deg) skew(60deg);
  transform: rotate(76deg) skew(60deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cn-wrapper li a {
  position: absolute;
  right: -7.25em;
  bottom: -7.25em;
  width: 14.5em;
  height: 14.5em;
  border-radius: 50%;
  background: rgba(119, 130, 133, 0.7);
  background: -webkit-radial-gradient(
    circle transparent calc(35% - 1px),
    rgba(119, 130, 133, 0.7) 35%
  );
  background: -moz-radial-gradient(
    circle transparent calc(35% - 1px),
    rgba(119, 130, 133, 0.7) 35%
  );
  background: radial-gradient(
    circle transparent calc(35% -1px),
    rgba(119, 130, 133, 0.7) 35%
  );
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  -webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
  -moz-transform: skew(-60deg) rotate(-75deg) scale(1);
  -ms-transform: skew(-60deg) rotate(-75deg) scale(1);
  transform: skew(-60deg) rotate(-75deg) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: auto;
  outline: 1px solid transparent;
  display: block;
}

.cn-wrapper li a span {
  position: relative;
  top: 1.8em;
  display: block;
  font-size: 0.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.cn-wrapper li a:hover,
.cn-wrapper li a:active,
.cn-wrapper li a:focus {
  background: -webkit-radial-gradient(
    circle transparent calc(35% - 1px),
    rgba(54, 59, 61, 0.7) 35%
  );
  background: -moz-radial-gradient(
    circle transparent calc(35% - 1px),
    rgba(54, 59, 61, 0.7) 35%
  );
  background: radial-gradient(
    circle transparent calc(35% - 1px),
    rgba(54, 59, 61, 0.7) 35%
  );
}
.cn-wrapper li a:focus {
  position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.opened-nav li {
  -webkit-transition: all 0.3s ease 0.3s;
  -moz-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.opened-nav li:first-child {
  -webkit-transform: rotate(-20deg) skew(60deg);
  -moz-transform: rotate(-20deg) skew(60deg);
  -ms-transform: rotate(-20deg) skew(60deg);
  transform: rotate(-20deg) skew(60deg);
}

.opened-nav li:nth-child(2) {
  -webkit-transform: rotate(12deg) skew(60deg);
  -moz-transform: rotate(12deg) skew(60deg);
  -ms-transform: rotate(12deg) skew(60deg);
  transform: rotate(12deg) skew(60deg);
}

.opened-nav li:nth-child(3) {
  -webkit-transform: rotate(44deg) skew(60deg);
  -moz-transform: rotate(44deg) skew(60deg);
  -ms-transform: rotate(44deg) skew(60deg);
  transform: rotate(44deg) skew(60deg);
}

.opened-nav li:nth-child(4) {
  -webkit-transform: rotate(76deg) skew(60deg);
  -moz-transform: rotate(76deg) skew(60deg);
  -ms-transform: rotate(76deg) skew(60deg);
  transform: rotate(76deg) skew(60deg);
}

.opened-nav li:nth-child(5) {
  -webkit-transform: rotate(108deg) skew(60deg);
  -moz-transform: rotate(108deg) skew(60deg);
  -ms-transform: rotate(108deg) skew(60deg);
  transform: rotate(108deg) skew(60deg);
}

.opened-nav li:nth-child(6) {
  -webkit-transform: rotate(140deg) skew(60deg);
  -moz-transform: rotate(140deg) skew(60deg);
  -ms-transform: rotate(140deg) skew(60deg);
  transform: rotate(140deg) skew(60deg);
}

.opened-nav li:nth-child(7) {
  -webkit-transform: rotate(172deg) skew(60deg);
  -moz-transform: rotate(172deg) skew(60deg);
  -ms-transform: rotate(172deg) skew(60deg);
  transform: rotate(172deg) skew(60deg);
}
