.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  background-color: white;

  padding: 1em 0px;

  &__header {
    flex-basis: 100%;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1em 0px;
    margin-bottom: 30px;

    &--text {
      font-size: 2.5em;
      color: $color-black;
      font-family: $f_Roboto;
      font-weight: 300;
      text-align: center;
    }
  }

  &__bottom {
    flex-basis: 100%;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1em 0px;
  }

  & .project {
    width: 100%;

    max-width: 1200px;
    padding: 10px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(minmax(min-content, 1fr), 3);
    row-gap: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;

    transform-style: preserve-3d;
    perspective: 3000px;

    @include ResponsiveMobileFirst(tab-port) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(minmax(min-content, 1fr), 2);
      column-gap: 2rem;
    }

    &__header {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      color: black;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      font-size: 3rem;
      line-height: 4rem;
      text-align: center;

      margin-bottom: 20px;
    }

    &__img {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      // width: 500px;
      width: 90%;
      max-width: 500px;
      height: auto;
      transform-style: preserve-3d;

      @include ResponsiveMobileFirst(tab-port) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 600px;
      }
    }

    &__description {
      grid-column: 1 / -1;
      grid-row: 3 / 4;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      overflow: hidden;

      @include ResponsiveMobileFirst(tab-port) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      &--text {
        margin: 8px 0px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-align: center;

        @include ResponsiveMobileFirst(tab-port) {
          margin-bottom: 15px;
          font-size: 2.2rem;
          line-height: 2.5rem;
        }
      }

      .project__list {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & .listItem {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          &_svg {
            width: 35px;
            height: auto;
            stroke-width: 20px;
            margin-right: 10px;
          }

          &_text {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.8rem;
            line-height: 2.2rem;

            @include ResponsiveMobileFirst(tab-port) {
              font-size: 2.2rem;
              line-height: 2.5rem;
            }
          }
        }
      }
    }

    &__buttons {
      padding: 10px;
      margin-top: 10px;

      & a.btn {
        margin: 0px 10px;
      }
    }
  }
}
