.skills {
    
    padding: 1.5em 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: $color-grey-light-1;

    &__header {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &--text {
            font-size: 4.5rem;
            color: $color-black;
            font-family: 'Roboto Mono', monospace;
            letter-spacing: 2px;
            font-weight: 300;
            margin: 0px;
            text-align: center;

        }
    }

    &__body {
        
        padding: 1em 0px;
        width: 80%;
        max-width: 960px;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        align-items: center;
        align-content: center;

    }

    &__footer {

    }

}

.card {
    min-width: 150px;
    min-height: 150px;
    max-height: 240px;
    flex-basis: 25%;
    height: 15vw;

    margin:.5em;
    padding: 1.5em 0px;
    border-radius: 7px;
    border: 1px solid #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform .3s;


    &:hover {
        transform: scale(1.1)
    }


    &__image {
        width: auto;
        height: 50%;

        &--large {
            width: 28%;
            height: 60%;
        }

        &--large-2 {
            width: auto;
            height: 65%;
        }
    }

    &__header {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
        margin: 0px;
    }
    
}