*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Will set the standard font size of the webpage tp 10px in order to facilitate the use of rem in the whole site*/
  font-size: 62.5%; // 1rem = 10px  assuming browser default of 16px 62.5% * 16px = 10px;
  //font-size: 8.5px;
}

body {
  box-sizing: border-box;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

// Scroll Bar settings

body::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: $thumbBG $scrollbarBG;
}
body::-webkit-scrollbar-track {
  background: $scrollbarBG;
}
body::-webkit-scrollbar-thumb {
  background-color: $thumbBG;
  border-radius: 6px;
  border: 1px solid $scrollbarBG;
}

.keyword {
  // text-decoration: underline;
  // font-weight: 700;
  // text-transform: uppercase;
}

/*
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-regular.ttf');
}
*/

// @font-face {
//   font-family: 'Roboto';
//   src: url('../assets/fonts/Roboto-regular.ttf');
// }

@include font-face('Roboto', '../assets/fonts/Roboto-Thin', 100, null, ttf);
@include font-face(
  'Roboto',
  '../assets/fonts/Roboto-ThinItalic',
  100,
  italic,
  ttf
);
@include font-face('Roboto', '../assets/fonts/Roboto-Light', 300, null, ttf);
@include font-face(
  'Roboto',
  '../assets/fonts/Roboto-LightItalic',
  300,
  italic,
  ttf
);

@include font-face('Roboto', '../assets/fonts/Roboto-Regular', 400, null, ttf);
@include font-face('Roboto', '../assets/fonts/Roboto-Italic', 400, italic, ttf);

@include font-face('Roboto', '../assets/fonts/Roboto-Medium', 500, null, ttf);
@include font-face(
  'Roboto',
  '../assets/fonts/Roboto-MediumItalic',
  500,
  italic,
  ttf
);
@include font-face('Roboto', '../assets/fonts/Roboto-Bold', 700, null, ttf);
@include font-face(
  'Roboto',
  '../assets/fonts/Roboto-BoldItalic',
  700,
  italic,
  ttf
);

@include font-face('Roboto', '../assets/fonts/Roboto-Black', 900, null, ttf);
@include font-face(
  'Roboto',
  '../assets/fonts/Roboto-BlackItalic',
  900,
  italic,
  ttf
);

// ROBOTO MONO

@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-Thin',
  100,
  null,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-ThinItalic',
  100,
  italic,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-Light',
  300,
  null,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-LightItalic',
  300,
  italic,
  ttf
);

@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-Regular',
  400,
  null,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-Italic',
  400,
  italic,
  ttf
);

@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-Medium',
  500,
  null,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-MediumItalic',
  500,
  italic,
  ttf
);

@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-SemiBold',
  600,
  null,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-SemiBoldItalic',
  600,
  italic,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-Bold',
  700,
  null,
  ttf
);
@include font-face(
  'Roboto Mono',
  '../assets/fonts/RobotoMono-BoldItalic',
  700,
  italic,
  ttf
);

// OPEN SANS

@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-Light',
  300,
  null,
  ttf
);
@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-LightItalic',
  300,
  italic,
  ttf
);

@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-Regular',
  400,
  null,
  ttf
);
@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-Italic',
  400,
  italic,
  ttf
);

@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-SemiBold',
  600,
  null,
  ttf
);
@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-SemiBoldItalic',
  600,
  italic,
  ttf
);
@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-Bold',
  700,
  null,
  ttf
);
@include font-face(
  'Open Sans',
  '../assets/fonts/OpenSans-BoldItalic',
  700,
  italic,
  ttf
);
