*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Will set the standard font size of the webpage tp 10px in order to facilitate the use of rem in the whole site*/
  font-size: 62.5%; // 1rem = 10px  assuming browser default of 16px 62.5% * 16px = 10px;
  //font-size: 8.5px;
}

body {
    box-sizing: border-box;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

html {
  --scrollbarBG: rgba(207,216,220, .7);
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 1px solid var(--scrollbarBG);
}


/*
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-regular.ttf');
}
*/

/*
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-regular.ttf');
}
*/